*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'calibri',Georgia, Times, 'Times New Roman', serif;
}
:root{
    --primery-color:#005f73;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--primery-color);
    padding-left: 200px;
    padding-right: 200px;

}
.nav-bar{
    display: flex;
    align-items: center;
    
}
.nav-bar>p{
    
    font-size: 20px;
    padding: 30px;
    
}

img{
    width: 100%;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.middle-para{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50vh;
   flex-direction: column;
   padding: 30px;
   border-radius: 3px;
   background-color: rgba(0, 0, 0, 0.603);
   color: aliceblue
}
.btn{
    border: none;
    background-color: #db5024;
    color: wheat;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}
.middle-para >p {
    font-size: 20px;
    padding: 30px;

}
.service{
    padding: 20px;
}
.service> #h2{
    padding: 10px;
    color: blue;

}
.service > #para{
    padding: 10px;

}
.service>ul{
padding-left: 40px;
}


.about{
    padding: 20px;
    background-color: rgb(211, 206, 206);
}
.about>#h2{
    padding: 10px;
    color: green;

}
.about > #para{
    padding: 10px;

}
.contactUs{
    padding: 20px;
}
.contactUs>#h2{
    padding: 10px;
    color: rgb(221, 57, 178);

}
.contactUs > #para{
    padding-left: 10px;
    padding: 5px;

}

.footer{
    display: flex;
    justify-content: center;
    background-color: var(--primery-color);
    padding: 20px;
    color: aliceblue;
}